/*Learned about the !important tag so that if a situation arises
where I use a CSS library that might try to override some of the styling I used,
I can use the !important tag to ensure that my styilng doesn't get overridden.*/
<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  #orange-text {
    color: orange;
  }
  .pink-text {
    color: pink !important;
  }
  .blue-text {
    color: blue;
  }
</style>
<h1 id="orange-text" class="pink-text blue-text" style="color: white">Hello World!</h1>
